ADMIN_USERNAME=your_admin_username_here
ADMIN_PASSWORD=your_admin_password_here

STORE_USER_USERNAME=your_store_user_username_here
STORE_USER_PASSWORD=your_store_user_password_here
OMS_NAME=your_oms_name_here
CLIENT_UAT_URL=https://inventorycount-uat.hotwax.io/login
CLIENT_PROD_URL=https://inventorycount.hotwax.io/bulkUpload
