ADMIN_USERNAME=ajinkya.moghe
ADMIN_PASSWORD=hotwax@786
STORE_USER_USERNAME=yash.maheshwari
STORE_USER_PASSWORD=hotwax@786
OMS_NAME=mersea-oms
MERSEA_UAT_URL=https://inventorycount-uat.hotwax.io/login
MERSEA_PROD_URL=https://inventorycount.hotwax.io/bulkUpload
