ADMIN_USERNAME=your_admin_username_here
ADMIN_PASSWORD=your_admin_password_here

STORE_USER_USERNAME=your_store_user_username_here
STORE_USER_PASSWORD=your_store_user_password_here
OMS_NAME=mersea-oms
MERSEA_UAT_URL=https://inventorycount-uat.hotwax.io/login
MERSEA_PROD_URL=https://inventorycount.hotwax.io/bulkUpload
